{% extends "base.html" %}

{% block navbarright %}
	<li><a href="{% url 'gbtaluka:profile' %}"><span class="glyphicon glyphicon glyphicon-user"></span> {{ user.first_name }}</a></li>
	<li>
	<form class="navbar-form navbar-right" action="{% url 'logout' %}" method="get">
		<input type="hidden" name="next" value="{% url 'main_index' %}">
		<input type="submit" class="btn btn-warning" value="logout">
	</form>
	</li>
{% endblock %}


{% block content %}
<div class="container">
	<div class="row">
	<h2>your password changed successfully.</h2>
</div>
</div>
{% endblock %}