{% extends "base.html" %}

{% block navbarright %}
	<li><a href="{% url 'gbtaluka:profile' %}"><span class="glyphicon glyphicon glyphicon-user"></span> {{ user.first_name }}</a></li>
	<li><a href="{% url 'password_change' %}">change password</a></li>
	<li><a href="{% url 'gbtaluka:update_profile' %}">update profile</a></li>
	<li>
	<form class="navbar-form navbar-right" action="{% url 'logout' %}" method="get">
		<input type="hidden" name="next" value="{% url 'main_index' %}">
		<input type="submit" class="btn btn-warning" value="logout">
	</form>
	</li>
{% endblock %}


{% block content %}

<div class="container">
<div class="row">
<div class="col-xs-6 col-md-3">
	{% if detail.picture %}
  <a href="{{ detail.picture.url }}" class="thumbnail">
    <img src="{{ detail.picture.url }}" alt="profile_pic">
  </a>
  {% endif %}

  <h3>{{ detail.user.first_name }} {{ detail.user.last_name }}</h3>
  <h4>Shakha: <small>{{ detail.shakha }}</small></h3>
  <h4>Responsibility: <small>{{ detail.responsibility }}</small></h4>

	{% if detail.responsibility.level <= 4 %}
		<h4><a href="{% url 'gbtaluka:add_shakha' %}">Add Shakha</a></h4>
		<h4><a href="{% url 'gbtaluka:add_notification' %}">Add Notification</a></h4>
	{% endif %}

</div>

<div class="col-xs-10 col-md-5">
	<form class="form-horizontal" action="{% url 'gbtaluka:profile' %}" method="post">
	{% csrf_token %}
		{% for field in form %}
		{{ field.errors }}
		<div class="form-group">
	    <div class="col-md-5">
	      {{ field.label_tag }}
	    </div>
	    <div class="col-md-7">
	      {{ field }}
	    </div>
	  </div>
	  {% endfor %}
  	<div class="form-group">
	    <div class="col-sm-offset-5 col-sm-7">
	      <button type="submit" class="btn btn-primary">search swayamsevak</button>
	    </div>
  	</div>
	</form>
	{% if users %}
	{% for found_user in users %}
		<a href="{% url 'gbtaluka:user' found_user.username %}">{{ found_user.first_name }} {{ found_user.last_name }}({{ found_user.userdetail.shakha }})</a>
		{% if user.userdetail.responsibility.level <= 4 %}
			<a class="text-warning" href="{% url 'gbtaluka:edit_responsibility' found_user.pk %}"> <span class="glyphicon glyphicon-edit"></span>EditResponsibility</a>
		{% endif %}
	{% endfor %}
	{% endif %}
</div>
<div class="col-xs-10 col-md-4 Notification_bar noticebar">
	<h2>Notifications and Events</h2>
	{% for notice in notice_bar %}
		<h2><small>{{ notice.title }}:</small></h2>
		<p>{{ notice.description }}</p>
		<p><strong>from</strong> {{ notice.from_date }} <strong>to</strong> {{ notice.to_date }}</p>
		
	{% endfor %}
</div>
</div>
</div>
	
{% endblock %}