{% extends "base.html" %}

{% block navbarright %}
	{% if user.is_authenticated %}
		<li><a href="{% url 'gbtaluka:profile' %}"><span class="glyphicon glyphicon glyphicon-user"></span> {{ user.first_name }}</a></li>
		<li><a href="{% url 'password_change' %}">change password</a></li>
		<li><a href="{% url 'gbtaluka:update_profile' %}">update profile</a></li>
		<li>
		<form class="navbar-form navbar-right" action="{% url 'logout' %}" method="get">
			<input type="hidden" name="next" value="{% url 'main_index' %}">
			<input type="submit" class="btn btn-warning" value="logout">
		</form>
		</li>
	{% else %}
		<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		<li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Signup</a></li>
	{% endif %}

{% endblock %}



{% block content %}

<div class="container">
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr class="danger">
					<th><h3>Shakha</h3></th>
					<th><h3>Timing</h3></th>
					<th><h3>Type</h3></th>
					<th><h3>Venue</h3></th>
				</tr>
			</thead>
			{% for shakha in shakhas %}
			<tbody>
				<tr class="info">
					{% if user.is_authenticated %}
						<th><a href="{% url 'gbtaluka:shakha' shakha.pk %}">{{ shakha.shakha_name }}</a>
							{% if user.userdetail.responsibility.level <= 4 %}
								<a class="text-warning" href="{% url 'gbtaluka:edit_shakha' shakha.pk %}"> <span class="glyphicon glyphicon-edit"></span>Edit</a>
							{% endif %}
						</th>
					{% else %}
						<th>{{ shakha.shakha_name }}</th>
					{% endif %}
					<th>{{ shakha.shakha_time }}</th>
					<th>{{ shakha.shakha_type }}</th>
					<th>{{ shakha.shakha_venue }}</th>
				</tr>
			</tbody>
			{% endfor %}
		</table>	
	</div>
</div>

{% endblock %}