{% extends "base.html" %}

{% block navbarright %}
	<li><a href="{% url 'gbtaluka:profile' %}"><span class="glyphicon glyphicon glyphicon-user"></span> {{ user.first_name }}</a></li>
	<li><a href="{% url 'password_change' %}">change password</a></li>
	<li><a href="{% url 'gbtaluka:update_profile' %}">update profile</a></li>
	<li>
	<form class="navbar-form navbar-right" action="{% url 'logout' %}" method="get">
		<input type="hidden" name="next" value="{% url 'main_index' %}">
		<input type="submit" class="btn btn-warning" value="logout">
	</form>
	</li>
{% endblock %}


{% block content %}


<div class="container">
	<div class="row">
<div class="col-xs-6 col-md-3">
	{% if this_user_detail.picture %}
  <a href="{{ this_user_detail.picture.url }}" class="thumbnail">
    <img src="{{ this_user_detail.picture.url }}" alt="profile_pic">
  </a>
  {% endif %}
  <h3>{{ this_user_detail.user.first_name }} {{ this_user_detail.user.last_name }}</h3>
  <h4>Shakha: <small>{{ this_user_detail.shakha }}</small></h3>
  <h4>Responsibility: <small>{{ this_user_detail.responsibility }}</small></h4>
</div>
<div class="col-xs-10 col-md-5">
	<p><strong>Email: </strong>{{ this_user_detail.user.email }}</p>
	<p><strong>Contact number: </strong>{{ this_user_detail.contact_number }}</p>
	<p><strong>Blood group: </strong>{{ this_user_detail.blood_group }}</p>
	<p><strong>Address: </strong>{{ this_user_detail.address }}</p>
	<p><strong>Eduction: </strong>{{ this_user_detail.education }}</p>
	<p><strong>Occupation: </strong>{{ this_user_detail.occupation }}</p>
	<p><strong>Hobbies: </strong>{{ this_user_detail.hobbies }}</p>
</div>
<div class="col-xs-10 col-md-4 Notification_bar noticebar">
	<h2>Notifications and Events</h2>
	{% for notice in notice_bar %}
		<h2><small>{{ notice.title }}:</small></h2>
		<p>{{ notice.description }}</p>
		<p><strong>from</strong> {{ notice.from_date }} <strong>to</strong> {{ notice.to_date }}</p>
		
	{% endfor %}
</div>


</div>
</div>
{% endblock %}